<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Food Delivery Website | Sign In Page</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<style>
span{
color : red;
}
.nav-link {
    color: rgb(12 228 234 / 90%);
}
.nav-link:hover {
  color: rgb(12 228 234 / 90%);
}
  .bg-image{
    background-image: url({% static 'images/signinbackground.png' %});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar-nav {
    --bs-nav-link-color: rgb(10 225 215);
    --bs-nav-link-hover-color: rgb(16 220 240 / 74%);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}
.navbar-brand {
    color: rgb(12 228 234 / 90%);

}
.navbar-brand:hover{
    color: rgb(16 220 240 / 74%);
}
</style>
<script type="text/javascript">
    function checkvalidation()
    {
     var email = document.getElementById('exampleInputEmail1').value
     var pass = document.getElementById('exampleInputPassword1').value
     var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;

     if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)))
    {
    document.getElementById('errorinemail').innerHTML = "Invalid Email/Username";
    return false;
     }
     else if(!(pass.match(decimal)))
     {
     document.getElementById('errorinemail').innerHTML = "";
       document.getElementById('errorinpass').innerHTML = "Invalid Password";
       return false;
     }

    }

</script>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">Food Delivery Website</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">AboutUs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cuisine
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">North Indian</a></li>
                <li><a class="dropdown-item" href="#">South Indian</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Others</a></li>
              </ul>
            </li>
          </ul>



		  {% if user.is_authenticated %}
		  <div class="collapse navbar-collapse d-flex justify-content-end">
		  <li class="nav-item dropdown list-unstyled">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome {{ request.user }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
		  </div>
		  {% else %}
		  <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="signin.html" data-toggle="modal" data-target="#mymodal">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signup.html" data-toggle="modal" data-target="#mymodal">Sign up</a>
              </li>
            </ul>
			</div>
			  {% endif %}


        </div>
      </div>
    </nav>

 <div class="bg-image">

  <div class="container h-100 d-flex align-items-center justify-content-center">

    <form method="post" action="signin.html">
        {% csrf_token %}
        <div class="mb-3">
            <h2 style="font-family:'Times New Roman', Times, serif; color: white; text-align: center;">Sign In </h2>
          <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
         <input type="email" class="form-control" id="exampleInputEmail1" name="loginusername" aria-describedby="emailHelp" required>
            <span id="errorinemail"></span>
            <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-white">Password</label>
           <input type="password" class="form-control" name="loginpassword" id="exampleInputPassword1" required>
            <span id="errorinpass"></span>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label text-white" for="exampleCheck1">Stay Signed In</label>
        </div>
         <button type="submit" onclick="checkvalidation();" class="btn btn-primary">Sign In</button>
      </form>
</div>

 </div>
        <footer class="py-3 my-4 bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-muted">© 2022 foodcartt.com</p>
</footer>
</body>
</html>