<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Food Delivery Website | Sign Up Page</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <style>
      .bg-image{
        background-image: url({% static 'images/signupbackground.png' %});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      span{
      color : yellow;
      }
      </style>
    <script type="text/javascript">
  function checkvalidate()
    {
     var email = document.getElementById('email').value
     var pass = document.getElementById('password').value
     var fname = document.getElementById('fname').value
      var lname = document.getElementById('lname').value
      var num = document.getElementById('number').value
     var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
     var letters = /^[A-Za-z]+$/;
     var phoneno = /^\d{10}$/;
    (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)))
     if (!(fname.match(letters)))
    {
    document.getElementById('errorinfname').innerHTML = "First Name should contain only alphabets";
    return false;
     }
     else if(!(lname.match(letters)))
     {
        document.getElementById('errorinfname').innerHTML = "";
       document.getElementById('errorinlname').innerHTML = "Last Name should contain only alphabets";
       return false;
     }
     else if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)))
    {
    document.getElementById('errorinlname').innerHTML = "";
    document.getElementById('errorinemail').innerHTML = "Invalid Email";
    return false;
     }
     else if(!(pass.match(decimal)))
     {
      document.getElementById('errorinemail').innerHTML = "";
       document.getElementById('errorinpass').innerHTML = "Invalid Password";
       return false;
     }
     else if(!(num.match(phoneno)))
     {
        document.getElementById('errorinpass').innerHTML = "";
       document.getElementById('errorinphone').innerHTML = "Invalid Phone Number";
       return false;
     }

    }
    </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index">Food Delivery Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AboutUs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuisine
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">North Indian</a></li>
              <li><a class="dropdown-item" href="#">South Indian</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </li>
        </ul>



    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse d-flex justify-content-end">
    <li class="nav-item dropdown list-unstyled">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{ request.user }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
    </div>
    {% else %}
    <div class="collapse navbar-collapse d-flex justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="signin.html" data-toggle="modal" data-target="#mymodal">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup.html" data-toggle="modal" data-target="#mymodal">Sign up</a>
            </li>
          </ul>
    </div>
      {% endif %}


      </div>
    </div>
  </nav>
    <div class="bg-image">
      <div class="container h-100 d-flex align-items-center justify-content-start">
        <form class="needs-validation" action="signup.html" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <h2 style="font-family:'Times New Roman', Times, serif; color: rgba(224, 178, 12, 0.664); text-align: center;">Sign Up </h2>
              <label for="fname" class="form-label text-white">First name</label>
              <input type="text" class="form-control" id="fname" placeholder="Enter First Name" required>
                <span id="errorinfname"></span>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="lname" class="form-label text-white">Last name</label>
              <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" required>
                <span id="errorinlname"></span>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
              <div class="mb-3">
                <label for="email" class="form-label text-white">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" aria-describedby="emailHelp" required>
                  <span id="errorinemail"></span>
                <div class="invalid-feedback">
                    Please enter email.
                  </div>
              </div>
            <div class="mb-3">
                <label for="password" class="form-label text-white">Password </label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="pswd" required>
                <span id="errorinpass"></span>
            </div>
            <div class="mb-3">
              <label for="number" class="form-label text-white">Phone Number</label>
              <input type="text" class="form-control" id="number" placeholder="Enter Phone Number" name="pno" required>
                <span id="errorinphone"></span>
              <div class="invalid-feedback">
                Please provide a valid phone number.
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label text-white" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" onclick="return checkvalidate();" type="submit">Submit form</button>
            </div>
          </form>
    </div>

    </div>

<footer class="py-3 my-4 bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-muted">© 2022 foodcartt.com</p>
</footer>
</body>
</html>