<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Food Delivery Website | Sign Up Page</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <style>
      .bg-image{
        background-image: url({% static 'images/signupbackground.png' %});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
    <script type="text/javascript">
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
    </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index">Food Delivery Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AboutUs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuisine
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">North Indian</a></li>
              <li><a class="dropdown-item" href="#">South Indian</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </li>
        </ul>



    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse d-flex justify-content-end">
    <li class="nav-item dropdown list-unstyled">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{ request.user }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
    </div>
    {% else %}
    <div class="collapse navbar-collapse d-flex justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="signin.html" data-toggle="modal" data-target="#mymodal">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup.html" data-toggle="modal" data-target="#mymodal">Sign up</a>
            </li>
          </ul>
    </div>
      {% endif %}


      </div>
    </div>
  </nav>
    <div class="bg-image">
      <div class="container h-100 d-flex align-items-center justify-content-start">
        <form class="needs-validation" >
            <div class="mb-3">
              <h2 style="font-family:'Times New Roman', Times, serif; color: rgba(224, 178, 12, 0.664); text-align: center;">Sign Up </h2>
              <label for="validationCustom01" class="form-label text-white">First name</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="Enter First Name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="validationCustom02" class="form-label text-white">Last name</label>
              <input type="text" class="form-control" id="validationCustom02" placeholder="Enter Last Name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-white">Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email" aria-describedby="emailHelp" required>
                <div class="invalid-feedback">
                    Please enter email.
                  </div>
              </div>
            <div class="mb-3">
                <label for="pwd" class="form-label text-white">Password </label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            </div>
            <div class="mb-3">
              <label for="validationCustom05" class="form-label text-white">Phone Number</label>
              <input type="number" class="form-control" id="validationCustom05" placeholder="Enter Phone Number" required>
              <div class="invalid-feedback">
                Please provide a valid phone number.
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label text-white" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
          </form>
    </div>

    </div>

<footer class="py-3 my-4 bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-muted">© 2022 foodcartt.com</p>
</footer>
</body>
</html>